body{
    margin: 0;
    padding: 0;
    background-color: #3E3D3D;
}
p{
    color: white;
    z-index: 2;

    
}
h1{
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 75px;
}

.personajes img{
    height: 20vw;
    width: 100%;
    margin: 0px;
    
    
}

.personajes {
    display: grid;
    grid-template-columns: repeat(4,22vw);
    justify-content: center;
    grid-gap: 10px;
    margin-left: 3vw;

    
}

.hover{
    display: grid;
    justify-content: center;
    position: relative;
    
}
.hover p{
    padding: 4px;
    margin: 0;
    font-size: 20px;
    opacity: 1;
}
.hover .informacion{
    width: 100%;
    background-color: rgba(0,0,0,0.75);
    opacity: .8;
    position: absolute;
    bottom: 0px;
    transition: 1s;
 
}




/*--------------------------RESPOSIVE DESING----------------------------*/


@media screen and (max-width:800px){
    .personajes{
        grid-template-columns: repeat(2,35vw);
        margin-left: 3vw;
    }

    .personajes img{
        height: 35vw;
        width: 35vw;
    }
}